# The Orchestrator
langchain
langgraph

# The Core & Community
langchain-core
langchain-community
langchain-text-splitters  

# The Integration Packages 
langchain-chroma
langchain-huggingface
langchain-ollama

# Dependencies
chromadb
pypdf
gradio
sentence-transformers


langchain-anthropic
python-dotenv